<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Document</title>
  <script>
    function sendGet(){
      var form = document.getElementById('form_info');
      
      axios({
        method : 'get',
        url : '/form',
        params : { //get요청이니까 params로 post면 data?
          name : form.age.value
        }
      }).then(function(res){ //응답 전체가 온다. - 상태, legnth, 언제, 등등 실질적인 데이터는 data에 담겨온다. 
        console.log(res)
        alert(res.data)
      })
    }
  </script>
  <form id="form_info">
    <input type="text" name="age">
  </form>
  <button onclick="sendGet()">get</button>
  <button onclick="sendPost()">post</button>
</head>
<body>
  
</body>
</html>