<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <title>Document</title>
  <script>
    function postForm(){
      const form = document.querySelector("form")

      // axios({
      //   method: 'post',
      //   url: '/postForm',
      //   data : {
      //     id : form.id.value,
      //     pw : form.pw.value,
      //   }
      // }).then((res) => {
      //   document.querySelector('p')?.remove();
      //   const p = document.createElement('p');
      //   p.textContent = res.data.data;
      //   p.style.color = res.data.color;
      //   document.querySelector('body').append(p)
      // })

      // $.ajax({
      //   type: 'post',
      //   url: '/postForm',
      //   data : {
      //     id : form.id.value,
      //     pw : form.pw.value,
      //   },
      //   success: function(data) {
      //     console.log(data.data)
      //     document.querySelector('p')?.remove();
      //     const p = document.createElement('p');
      //     p.textContent = data.data;
      //     p.style.color = data.color;
      //     document.querySelector('body').append(p)
      //   }
      // })

      fetch('/postForm', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({id : form.id.value, pw: form.pw.value})
      })
      .then((res) => {
        console.log(res)
        return res.json();
    
      }).then((res) => {
          document.querySelector('p')?.remove();
          const p = document.createElement('p');
          p.textContent = res.data;
          p.style.color = res.color;
          document.querySelector('body').append(p)
      })
    
    }
  </script>
</head>
<body>
  <form action="">
    <input type="text" placeholder="id" required name="id">
    <input type="text" placeholder="pw" required name="pw">
  </form>
  <button onclick="postForm()">전송</button>
  
</body>
</html>