<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  id: <input type="text" name="id">
  pw: <input type="text" name="pw">
  <p></p>
  <button onclick="login()">로그인</button>
  <script>
    function login(){
      const body = document.querySelector('body')
      const p = document.querySelector('p')
      axios({
        url:'/login',
        method:'post',
        data: {
          id : document.querySelectorAll('input')[0].value,
          pw : document.querySelectorAll('input')[1].value,
        }
      }).then((res) => {
        p.textContent=res.data.message;
        res.data.st == '200' ?  p.style.color = 'green': p.style.color = 'red'; 
      })
    }
  </script>

</body>

</html>